:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #122E4F;
  background-color: #bcbcbc;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh; 
  overflow-x: hidden;
  position: relative;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

.form {
  padding-top: 60px;
}

.form h1 {
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4073AF; 
  color: #F9F7F7; 
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

.navbar {
  background-color: #fafafa;
  color: white;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; 
}

@media (prefers-color-scheme: light) {
  :root {
    color: #122E4F; 
    background-color: #bcbcbc; 
  }
  button {
    background-color: #4073AF; 
    color: #F9F7F7; 
  }
}