:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;
}

.img-background {
  background-color: #0D1117;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}
.bodyA{
  padding-top: 200px;
  min-height: 68vh;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* ========== BOTONES GENERICOS ========== */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  height: 30px;
  border-radius: 12px;
}

.button-sin-borde {
  background-color: transparent;
  border: none;
  color: white;
  border-radius: 0px;
}

.buttonPrimary {
  /* background-color: #145fb5; */
  background-color: rgba(20, 95, 181, 0.0);
  color: white;
}

.buttonPrimary:hover {
  /* background-color: #4073AF; */
  box-shadow: 0px 2px 6px rgba(219, 226, 239, 1);
}

.buttonSecundary {
  background-color: #272B32;
  color: #FF5A51;
  border-color: #3A4047;
}

.buttonSecundary:hover {
  background-color: #252020;
}

.buttonTerciary {
  border: none;
  background-color: #459F53;
  color: #ffffff;
}

.buttonTerciary:hover {
  background-color: #31763c;
}
.buttonBlue{
  background-color: #1F6FEA;
  color: white;
  border: none;
}
.buttonBlue:hover{
  background-color: #1752ac;
}

.buttonBig {
  height: 50px;
  font-size: 1em;
  margin: 10px;
}

.selected-item-border-green{
  border-bottom: 4px solid greenyellow;
}

.swal2-popup {
  margin: 100px;
}


/* ========== FORMULARIO GENERICO ========== */

.form {
  padding-top: 60px;
  background-color:#3A4047;
  width: 500px;
  border-radius: 12px;
}

.form h1 {
  text-align: center;
}

.form h2 {
  margin-top: 0px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 94%;
  padding: 8px;
  padding-left: 20px;
  border: none;
  background-color: #F1F1F2;
  border-radius: 12px;
  height: 40px;
  color: #000000;
  font-size: 18px;
}

.form-group textarea {
  width: 94%;
  padding: 8px;
  padding-left: 20px;
  border: none;
  background-color: #F1F1F2;
  border-radius: 12px;
  color: #A7A7AB;
  font-size: 18px;
}

.form-group select {
  width: 99%;
  padding: 8px;
  border: none;
  background-color: #F1F1F2;
  border-radius: 12px;
  color: #A7A7AB;
  height: 40px;
  font-size: 18px;
}
.buttonFormBox{
  display: flex;
  justify-content: center;
}

/* ========== LISTA GENERICA ========== */

.container-list {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-add-button {
  width: 900px;
  margin: 0px auto;
  display: flex;
  justify-content: left;
  padding-top: 10px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
}

.list-item button {
  margin-left: 10px;
}


/* ========== COMPARTIR EN REDES ========== */

.share-social-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.share-social-modal .product-info{
  display: flex;
  align-items: center;
  text-align: justify;
  gap: 1rem;
}

.share-social-modal .product-info p{
  font-size: 0.8rem;
  padding-right: 4rem;
}

.share-buttons{
  display: flex;
  gap: 2rem;
}
.share-social-modal button {
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 0.4rem 0.7rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.7rem;
  margin-top: 0.5rem;
}
.close-share{
  background-color: #495c79;
}

.close-share:hover{
  background-color: #334050;
}

.go-to-detail-button{
  background-color: #459f53;
}

.go-to-detail-button:hover{
  background-color: #3a7543;
}

/* ========== LISTA CRUD ========== */

.box-editar-eliminar {
  display: flex;
}

.adminFeactures li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #323232;
  margin: 5px;
  border-radius: 8px;
  width: 900PX;
}

.divSVG {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: rgb(22, 22, 22);
  border-radius: 100%;
  margin: 3px 10px;
}

.adminFeactures li p {
  margin: 2px 0px;
}

.divLi {
  display: flex;
  align-items: center;
}

.rating{
  font-size: 24px;
}

p{
  margin: 0;
}
.categoria-SVG{
  width: 20PX;
}
.titleAdminUser{
 width: 900px;
}
.space-between {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.titleAndButtonAdmin{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ========== LISTA CRUD PRODUCT ========== */
.body-product-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #122E4F;
    background-color: #bcbcbc;
  }

  button {
    background-color: #4073AF;
    color: #F9F7F7;
  }
}