.bodyPage {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  min-height: 83vh;
  padding-bottom: 50px;
}

.adminMenu {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.TitleAdminP {
  display: block;
  align-items: center;
  justify-content: center;
  color: white;
}

.Menu {
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 50px;
  border-bottom: 1px solid #3A4047;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.Menu h2 {
  font-size: 1.5rem;
}

.ButtonContainer {
  margin-top: 10px;
  display: flex;
  align-self: center;
  gap: 2rem;
}

.Button:last-child {
  margin-right: 0;
}

.Modal {
  position: absolute;
  top: 20%;
  left: 40%;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

@media (max-width: 425px) {

  .adminMenu {
    margin-top: 0px;
  }
  .ButtonContainer button{
   padding: 0%;
   font-size: 0.8em;
  }
  .Menu {
    margin-bottom: 20px;
  }
}