.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calendar-card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
/* Estilos para el selector del año */
.rdrYearPicker > select {
  background-color: #122e4f;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 15px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100px;
  color: white;
}
.rdrMonthPicker > select {
  background-color: #122e4f;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 15px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100px;
  text-transform: capitalize;
  color: white;
}
.rdrMonthPicker > select:hover {
  background-color: rgb(58, 108, 183);
}
.rdrYearPicker > select:hover {
  background-color: rgb(58, 108, 183);
}

.rdrMonthName {
  text-transform: capitalize;
  color: #122e4f;
  font-size: 1rem;
  font-weight: bold;
}

.rdrWeekDays > span {
  text-transform: capitalize;
  color: #122e4f;
  font-weight: bold;
}

.rdrDayDisabled {
  cursor: not-allowed; /* Cambiar cursor al pasar sobre fechas deshabilitadas */
  background-color: rgba(63, 125, 205, 0.164);
  font-weight: bold;
}
.rdrDayDisabled > span {
  font-weight: bold;
}
.rdrMonthAndYearWrapper > button {
  background-color: #afafaf;
}
.rdrMonthAndYearWrapper > button:hover {
  background-color: rgb(58, 108, 183);
}
