/* Card.css */
.card {
  background-color: #272B32;
  border-radius: 8px;
  padding: 0;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  color: white;
}
.name-card{
  height: 60px;
}

.card-content {
  display: flex;
  flex-direction: column;
  border-end-start-radius: 1rem;
  border-end-end-radius: 1rem;
  padding: 1rem;
}

.price {
  margin: 0;
  color: #ffffff;
}

.card-img{
  width: 100%; /* Ancho deseado para el contenedor */
  height: 0; /* Inicializamos la altura en 0 */
  padding-top: 100%; /* La altura será igual al 100% del ancho */
  position: relative; /* Para que los elementos internos se posicionen con respecto al contenedor */
  overflow: hidden;
}
.card img {
  width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: 100%; /* La imagen ocupará todo el alto del contenedor */
    position: absolute; /* La imagen se posiciona absolutamente dentro del contenedor */
    top: 0; /* Se ajusta a la parte superior del contenedor */
    left: 0;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: larger;
}

.name {
  font-size: 1.2rem;
  margin-top: 0;
  text-align: center;
}

.share-button {
  background-color: transparent;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border-color: lightgreen;
  color: lightgreen;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px #ffffff;
}

.h2card {
  text-decoration: none;
  padding: 1rem;
}

.fav-button {
  border: none;
  background-color: unset;
  font-size: x-large;
  margin: 4px;
  position: absolute;
  z-index: 2;
}

.not-liked-icon {
  color: #3A4047;
  animation: heartBeat 0.5s ease-in-out;
}

.liked-icon {
  color: #3683D7;
  animation: heartBeat2 0.5s ease-in-out;
}

.cardGrid-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.cardTitle-2 {
  margin-top: 0;
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(2);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes heartBeat2 {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(2);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}