/* Card.css */
.card {
  width: 20%;
  border: 1px solid #ccc;
  background-color: #DBE2EF;
  border-radius: 1rem;
  padding: 0;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}
.name-card{
  height: 60px;
}

.card-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #4073AF;
  border-end-start-radius: 1rem;
  border-end-end-radius: 1rem;
  padding: 1rem;
}

.price-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 3rem;
  font-size: x-large;
  font-weight: bolder;
  height: 4rem;
  width: 4rem;
}

.price {
  margin: 0;
  color: #1287bd;
}

.currency {
  margin: 0;
  font-size: x-small;
  color: #000;
}

.card img {
  width: 100%;
  height: auto;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
}

.name {
  font-size: 1.2rem;
  margin-top: 0;
  text-align: center;
  color: black;
}

.share-button {
  background-color: #dbe2ef;
  border: none;
  border-radius: 0.5rem;
  height: 2rem;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px #ffffff;
}

.h2card {
  text-decoration: none;
  padding: 1rem;
}

.fav-button {
  border: none;
  background-color: unset;
  font-size: x-large;
  margin: 1rem;
  position: absolute;
}

.not-liked-icon {
  color: rgb(255, 255, 255);
  animation: heartBeat 0.5s ease-in-out;
}

.liked-icon {
  color: rgb(245, 74, 145);
  animation: heartBeat2 0.5s ease-in-out;
}

.Container {
  width: 60%;
  display: flex;
  margin: auto;
}

.cardGrid-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.cardTitle-2 {
  margin-top: 0;
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(2);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes heartBeat2 {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(2);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}