.gallery {
  margin-right: 1rem;
  padding: 10px;
}

.product_description {
  width: 55%;
}

.product_description p {
  text-align: justify;
}
.technicalData {
  margin: 30px;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}
.caracteristicas {
  padding: 0;
  width: 40%;
}

.galleryAndPay {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}

.pay {
  display: flex;
  flex-direction: column;
  width: 50;
  padding: 20px;
  background-color: white;
}

.priceDetail {
  color: black;
}

.pay button {
  margin: 5px;
}

.priceDetail {
  display: flex;
}

.priceDetail h2 {
  margin: 0px;
  padding-right: 10px;
}

.priceDetail p {
  margin: 0px;
  padding-top: 10px;
}

.feactures li {
  display: flex;
  align-items: center;
  background-color: #dbe2ef;
  margin: 5px;
  padding-right: 8px;
  border-radius: 8px;
}

.feactures div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  margin: 3px 10px;
}

.feactures li p {
  margin: 2px 0px;
}

ul {
  padding: 0;
  margin: 0;
}
.backArrowDetail {
  width: 50px;
  margin-bottom: 20px;
}

@media (max-width: 760px) {
  .bodyDetail {
    width: 100%;
    margin: 2px;
  }

  .galleryAndPay {
    flex-direction: column;
  }

  .gallery {
    width: 90%;
    margin: 5px;
  }

  .image-gallery-slide img {
    max-width: 100%;
    height: auto;
  }

  .product_description {
    width: 90%;
    margin: 10px;
  }

  .pay {
    margin-top: 10px;
    margin: 2px;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .feactures {
    margin: 20px;
    padding: 0;
  }

  .paymentMethods {
    width: 70%;
  }
}
