
.Container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente los elementos */
    text-align: center;
    height: auto;
    flex-direction: column; 
  }