
.body {
  padding-top: 10vh;
  padding-bottom: 50px;
  width: 100%;
  color: white;
}
.Container {
  width: 70%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.Search-Calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px auto;
}

.search-container .Select {
  flex: 1;
}

.search-container {
  display: flex;
  gap: 20px;
}
.buttons {
  display: flex;
  gap: 20px;
}

.Button-calendario {
  font-size: medium;
  font-family: "Poppins";
  background-color: #289e3b;
  color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  height: 40px;
}

.Button-calendario:hover {
  background-color: #4073af;
}

.calendars-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.Calendars {
  flex: 1;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  margin: 70px 0vh 50px 0;
  border-bottom: 1px solid #3a4047;
}

.categories-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  width: 60vw;
}

.categoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.categoria img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.categoria p {
  margin-top: 5px;
}

.cardGrid-1 {
  margin-top: 7vh;
  margin-bottom: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardGrid-2 {
  width: 100%;
}

.productos-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 10vh;
}

.slick-slider {
  width: 80%;
  margin: 0 auto;
  background-color: transparent;
  margin-bottom: 10vh;
  border-bottom: solid 1px greenyellow;
}

.fav-button-div {
  text-align: left;
}

.fav-button {
  border-radius: 8px 0px 0px 0px;
  cursor: pointer;
}

.producto {
  width: 70%;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productos-por-categoria h2 {
  text-align: center;
}

@media (max-width: 425px) {
  .search-container {
    display: none;
  }

  /* ========== CATEGORIA ========== */
  .categoria img {
    width: 20px;
  }
  .categoria p {
    font-size: 0.5em;
    margin-top: 0;
  }
  .categories-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0px;
    width: 90vw;
  }
  /* ========== SLIDER ========== */

  .slick-slide .producto {
    width: 90%;
    margin: 0 auto 20px;
    max-width: 90%;
  }

  .cardGrid-2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  }

  .card-wrapper {
    width: 90%;
    margin: 0 auto 20px;
  }
}
