.navbar {
  display: flex;
  position:fixed;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F7F7;
  color: var(--color-text);
  padding: 0, 5%;
  width: 100vw;
  height: auto;
}

.buttons {
  display: flex; 
  align-items: center;
  padding-right: 15px;
}

.buttons button {
  margin: 0 10px;
  width: auto;
}

.navbar-logo{
  height: auto;
  width: 100vw;
}

.btn-theme {
  background-color: #4073AF;
  padding: 8px;
}

.btn-theme img {
  border-radius: 0px;
}

.btn-login {
  white-space: nowrap;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: var(--color-accent);
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.btn-login {
  background-color: #122E4F;
  color: white;
}

.btn-registro {
  background-color: #4073AF;
  color: white;
}

.btn-administracion {
  background-color: #122E4F;
  color: white;
}

.btn-agregar-producto {
  background-color: #4073AF;
  color: white;
}


.agregarproducto {
  display: flex;
  align-items: center;
}

.btn-agregar-producto {
  margin-left: 10px;
}



  @media (min-width: 481px) {
    nav#mobile {
      display: none;
    }
  }


@media (max-width: 480px) {

  .desktop-nav {
      display: none;
  }

  .navbar button{
    display: none;
  }

  .navbar {
    width: 100vw;
    height: auto;
  }
    .navbar-logo {
        width: 75vw;
        height: auto; 
    }

  .mobile-nav {
      display: block;
  }

  #menu-toggle {
    color: black;
      display: block;
      background: none;
      border: none;
      font-size: 2rem;
      cursor: pointer;
  }

  #mobile-menu {
    display: none;
    width: 100%;
    max-width: 20%; 
    position: absolute;
    top: 100%;
    left: 78%;
    background-color: #122E4F;
    border: 1% solid #ccc;
}

#mobile-menu.active {
    display: block; 
}
  
.mobile-menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu-items a {
  margin-bottom: 10px;
}
}

