.header {
  display: flex;
  position: fixed;
  flex-direction: column;
  z-index: 999;
}

.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: auto;
  background-color: #000000;
  color: white;
  padding: 10px;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #4073AF;
}

.navbar-logo {
  display: flex;
  padding-left: 60px;
}

.navbar-logo:hover {
  transform: scale(1.02);
}

.navbar-logo img {
  width: 300px;
}

.button_login_registro_desktop {
  display: flex;
  margin-right: 40px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.user .name {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  color: white;
}

.user-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.user-logo {
  background-color: #3683D7;
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.user-logo-container img {
  margin: 5px;
}

/* ========== MENU DESPLEGABLE ========== */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  border-radius: 12px;
  background-color: #272B32;
  min-width: 160px;
  z-index: 1;

  right: -300px;
  /* Alinea el menú a la derecha */
  top: 100%;
  /* Alinea el menú justo debajo del botón */
  overflow-x: hidden;
  transition: right 0.3s ease;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  border: 1px solid #3683D7;
  border-radius: 12px;
}

.dropdown:hover .dropdown-content {
  right: 10%;
}






.menuMobile {
  display: none;
}

/* Estilos para versión móvil */
@media (max-width: 425px) {

  .button_login_registro_desktop,
  .user {
    display: none;
  }
  
  .menuMobile {
    display: block;
  }
  .navbar-logo img{
    width: 200px;
  }
  .buttonCerrarMenu{
    height: 30px;
    width: 100%;
    font-size: 1em;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: 1px solid rgb(102, 131, 238);
  }

  .navbar-logo{
    padding-left: 0px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: end;
    top: 0;
    right: -60%;
    /* Empieza fuera de la pantalla */
    width: 50%;
    height: 150vh;
    /* 100% del alto de la ventana */
    background-color: #172031;
    transition: right 0.3s ease;
    padding: 10px;
  }

  .menu.open {
    right: 0;
    /* Muestra el menú moviéndolo hacia la derecha */
  }

  .menuHamburguesa {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    padding-right: 30px;
  }
  .menu p{
    padding: 8px;
    display: flex;
    justify-content: end;
 
  }
}

/* @media (min-width: 761px) {
  nav#mobile {
    display: none;
  }
} 

@media (max-width: 768px) {

 .desktop-nav,
  .buttons {
    display: none;
  }

  .navbar ul {
    display: none;
  }

  .navbar {
    width: 100vw;
    height: auto;
  }

  .navbar-logo {
    display: flex;
    width: 50vw;
    height: auto;
    padding-left: 0;
  }

  .navbar img {
    width: 60vw;
    max-width: 300px;
  }

  .mobile-nav {
    display: block;
  }

  #menu-toggle {
    color: rgb(255, 255, 255);
    display: block;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 10px;
  }

  #mobile-menu {
    display: none;
    position: fixed;
    background-color: #272B32;
    min-width: 30%;
    right: 0%;
    padding: 15px;
    margin-top: 30px;
  }

  #mobile-menu.active {
    display: block;
  }

  .mobile-menu-items {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-items a {
    margin-bottom: 10px;
  } 
}/*