.header{
  display: flex;
  position:fixed;
  flex-direction: column;
}
.sugerencia{
  display: flex;
background-color: #122E4F;
padding-top: 85px;
padding-bottom: 10px;
width: 100vw;
align-items: center;
justify-content: center;
color: white;
}
.sugerencia button{
  display: flex;
  align-items: center;
  margin: 0px 12px;
  height: 20px;
  border-radius: 0%;
}
.navbar {
  display: flex;
  position:fixed;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #F9F7F7;
  color: var(--color-text);
  width: 100vw;
  height: auto;
  z-index: 9999;
}

.buttons {
  display: flex; 
  align-items: center;
  padding-right: 15px;
}

.buttons button {
  margin: 0 10px;
  width: auto;
}

.navbar-logo{
  padding-left: 60px;
}
.navbar-logo:hover{
  transform: scale(1.02);
}
.navbar-logo img{
  width: 300px;
}

.btn-theme {
  background-color: #4073AF;
  padding: 8px;
}

.btn-cerrar {
  background-color: #ffffff;
}

.btn-theme img {
  border-radius: 0px;
}

.btn-login {
  white-space: nowrap;
}

.navbar a {
  text-decoration: none;
  color: #213547;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color:#5bacf4;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navbar li:not(:last-child) {
  align-items: center;
  margin-right: 40px; 
}

.btn-login {
  background-color: #122E4F;
  color: white;
}

.btn-registro {
  background-color: #4073AF;
  color: white;
}


.menu {
  display: flex;
  align-items: center;
}


  @media (min-width: 761px) {
    nav#mobile {
      display: none;
    }
  }


@media (max-width: 760px) {

  .desktop-nav {
      display: none;
  }

  .navbar button{
    display: none;
  }

  .navbar ul{  
  display: none;
}
  .navbar {
    width: 100vw;
    height: auto;
  }
    .navbar-logo {
        width: 70vw;
        height: auto; 
        padding-left: 8%;
    }
    .navbar img{
      width: 75vw;
      
    }

  .mobile-nav {
      display: block;
  }

  #menu-toggle {
    color: black;
      display: block;
      background: none;
      border: none;
      font-size: 2rem;
      cursor: pointer;
  }

  #mobile-menu {
    display: none;
    width: 100%;
    max-width: 20%; 
    position: absolute;
    top: 100%;
    left: 80%;
    background-color: #122E4F;
    border: 1% solid #ccc;
}

#mobile-menu.active {
    display: block; 
}
  
.mobile-menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu-items a {
  margin-bottom: 10px;
}
}

