.title {
  font-size: 2em;
}

.container h1 {
  padding: 20px;
  font-size: 1.5rem;
}

.container-img{
  text-align: center;
}

form {
  align-items: center;
  background: #fff;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(2, 20, 123, 0.3);
  box-sizing: border-box;

}

.form h2 {
  text-align: center;
  color: #333;
}

.form label {
  display: block;
  margin-top: 10px;
  color: #555;
}

.form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.form button {
  padding: 10px;
  width: 100%;
}

.mi-lista {
  list-style-type: none; /* Elimina los marcadores de la lista */
  padding: 0; /* Elimina el espacio interno predeterminado */
}

.mi-lista li {
  margin-bottom: 10px; /* Espacio entre elementos de la lista */
  color: #333; /* Color del texto de los elementos de la lista */
}










/*.formulario {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .container{
    background-color: #4caf50;
  }
  
  /* Estilo para el botón de enviar 
  .form button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;*/

/* Estilo para el botón de enviar al pasar el ratón sobre él 
  .form button:hover {
    background-color: #45a049;
  }*/

/* Estilo para los mensajes de error 
  .error-message {
    color: #ff0000;
    margin-top: 5px;
  }*/

/* Estilo para los mensajes de éxito 
  .success-message {
    color: #008000;
    margin-top: 5px;
  }*/