.light {
    background-color: #ffffff;
    color: #122E4F;
  }
  
  .dark {
    background-color: #333333;
    color: #ffffff;
  }

  .pay.light {
    background-color: #F9F7F7; /* Color de fondo claro */
  }
  
  .pay.dark {
    background-color: #1F1F1F; /* Color de fondo oscuro */
  }