.userprof {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
  min-height:73vh;
}

.user-card {
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: #4073AF;
  width: 100%;
}
.favorite-card-box{
  width: 70vw;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 16px;
}

.user-info {
  flex-grow: 1;
}

.user-info h2 {
  margin: 0;
}

.user-info p {
  margin: 4px 0;
}

