.userprof {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
  min-height: 73vh;
}

.user-card {
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: #1F2227;
  width: 100%;
}

.favorite-card-box {
  width: 70vw;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 16px;
}

.user-info {
  flex-grow: 1;
}

.user-info h2 {
  margin: 0;
}

.user-info p {
  margin: 4px 0;
}

.user-profile {
  width: 1000px;
}

/* ========== FORM MODAL RATE ========== */

.rate-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-rate {
  background-color: #1F2227;
  padding-top: 30px;
  width: 400px;
  border-radius: 12px;
  color: #D7DDE2;
}

.form-group-rate {
  color: #D7DDE2;
  display: block;
  margin-bottom: 5px;
}

.form-rate textarea {
  background-color: transparent;
  border-radius: 12px;
  width: 100%;
  height: 100px;
  color: #D7DDE2;
  font-size: 1.2em;
  padding: 5px;
  font: inherit;
}

.form-rate label {
  margin: 16px 0px 4px 12px;
}

.rating-star {
  font-size: 30px;
  color: #194F32;
}

.rating-star-active {
  color: #41E55B;
}
.modal-buttons-rate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 16px 0px 0px 0px;
}
.modal-buttons-rate button{
  width: 40%;
  height: 40px;
}

@media (max-width: 425px) {
.id-card-reserva{
  display: none;
}
  .user-card {
    padding: 0.2em;
    display: flex;
    align-items: center;
    background-color: #4073AF;
    width: 100%;
  }

  .favorite-card-box {
    width: 100vw;
  }

  .avatar {
    width: 50px;
    margin-right: 6px;
  }

  .form-rate {
    width: 80vw;
  }
  .modal-buttons-rate button{
    width: 50%;
    height: 35px;
  }
  .name-reserva{
    font-size: 1.2em;
  }
}